.todoForm {
  width: 35rem;
  margin: 0 auto;
  margin-top: 7rem;
}

.todoInput {
  padding-left: 1rem;
  font-size: 1.2rem;
  width: 30.5rem;
  line-height: 2rem;
  border: none;
  margin-left: 0.5rem;
  border-bottom: 3px solid rgb(53, 53, 60);
  background-color: transparent;
  &:focus {
    outline: none;
    border-bottom: 3px solid rgba(67, 65, 68, 0.792);
  }
}
.addButton {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: rgb(53, 53, 60);
  border-radius: 5px;
  color: white;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: transparent;
    color: rgb(53, 53, 60);
    border: 1px solid rgb(53, 53, 60);
  }
}
