form {
  margin-top: 10rem;
  width: 36rem;
}

input {
  padding-left: 1rem;
  font-size: 1.2rem;
  width: 30rem;
  height: 2rem;
  border: none;
  border-bottom: 3px solid rgb(53, 53, 60);
  &:focus {
    outline: none;
  }
}
button {
  margin-left: 1rem;
  padding: 0.5rem;
  background-color: rgb(53, 53, 60);
  border-radius: 5px;
  color: white;
  border: none;

  &:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(53, 53, 60);
    border: 1px solid rgb(53, 53, 60);
  }
}
