ol {
  list-style: none;
  padding: 0;
}

.todoList {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  width: 36rem;
}
.isChecked {
  text-decoration: line-through;
}

.check:hover {
  cursor: pointer;
}
.delete:hover {
  cursor: pointer;
}

.text {
  display: inline-block;
  width: 30.3rem;

  margin-left: 0.5rem;
  margin-right: 1rem;
}
